name: Build & Test Golang Project

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: "true"

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Create token via GitHub App
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: 2157275
          private-key: ${{ secrets.CLOUD_NATIVE_WG_CI_GH_APP_PRIVKEY }}
          repositories: |
            furiosa-smi

      - name: Checkout `furiosa-smi`
        uses: actions/checkout@v4
        with:
          repository: furiosa-ai/furiosa-smi
          token: '${{ steps.app-token.outputs.token }}'
          path: furiosa-smi
          ref: v0.6.2

      - name: Build & Install `furiosa-smi`
        shell: bash
        run: |
          cd furiosa-smi
          cargo build
          make install

      - name: Run `sudo ldconfig`
        shell: bash
        run: |
          sudo ldconfig

      - name: Checkout this project
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Display Go version
        run: go version
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          args: --timeout=30m
          version: v2.6.0
      - name: build
        run: make build
      - name: test
        run: make test
