name: Build & Push container image to GCP Artifact Registry

on:
  push:
    tags:
      - '*'

jobs:
  public_build_push:
    runs-on: ubuntu-24.04
    env:
      REGISTRY_URL: "asia-northeast3-docker.pkg.dev"
      REGISTRY_PATH: "next-gen-infra/furiosa-ai"
      IMAGE_NAME: "libfuriosa-kubernetes"
    steps:
      - uses: actions/checkout@v6

      - uses: docker/setup-buildx-action@v3

      - name: public registry login
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY_URL }}
          username: "_json_key"
          password: ${{ secrets.GAR_JSON_KEY }}

      - name: Build and publish a image with release tag
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: '${{ env.REGISTRY_URL }}/${{ env.REGISTRY_PATH }}/${{ env.IMAGE_NAME }}:${{ github.ref_name }}'
